<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= Spree.t(:subscription_item) %>
      </h1>
    </div>
    <table class="table table-bordered line-items" data-hook="line-items">
      <thead>
        <th colspan="2">Woo ID</th>
        <th class="text-center">
          <%= f.label :price, Spree.t(:price) %><span class="required">*</span>
        </th>
        <th class="text-center">
          <%= f.label :quantity, Spree.t(:quantity) %><span class="required">*</span>
        </th>
        <th class="text-center">
          <%= f.label :frequency, Spree.t(:recurring_delivery_interval) %><span class="required">*</span>
        </th>
      </thead>
      <tbody>
        <tr class="line-item" id="line-item-<%= @subscription.id %>">
          <td class="line-item-image image text-center">
            <%= @subscription.woo_id %>
          </td>
          <td class="line-item-name text-center">
          </td>
          <td class="line-item-price text-center">
            <div data-hook="admin_subscription_price_form" data-subscription-id="<%= @subscription.id %>">

            </div>
          </td>
          <td class="line-item-qty-show text-center">
            <div data-hook="admin_subscription_quantity_form">

            </div>
          </td>
          <td class="line-item-qty-edit">
            <div data-hook="admin_subscription_frequency_form">
              <%= f.field_container :frequency, class: ["form-group"] do %>
                <%= f.collection_select :subscription_frequency_id, Spree::SubscriptionFrequency.all, :id, :title, {}, { class: "form-control", disabled: @subscription.not_changeable? } %>
                <%= f.error_message_on :frequency %>
              <% end %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
