<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">
        <%= Spree.t(:subscription_item) %>
      </h1>
    </div>
    <table class="table table-bordered line-items" data-hook="line-items">
      <thead>
        <th colspan="2" class="text-center">
          <%= Spree.t(:name) %>
        </th>
        <th class="text-center">
          <%= Spree.t(:price) %>
        </th>
      </thead>
      <tbody>
        <tr class="line-item" id="line-item-<%= @subscription.id %>">
          <td class="line-item-image image text-center">
            <%= mini_image(@subscription.variant) %>
          </td>
          <td class="line-item-name text-center">
            <%= @subscription.variant.name + ' : ' +
              @subscription.variant.option_values.find_by(
                option_type_id: Spree::OptionType.find_by(name: 'size').id
              ).presentation %>
          </td>
          <td class="line-item-price text-right">
            <div data-hook="admin_subscription_price_form" data-subscription-id="<%= @subscription.id %>">
              <%= number_to_currency(@subscription.variant.cost_price) || number_to_currency(@subscription.price) %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
